.video-column {
    position: relative;
    overflow: hidden;
  }
  
  .video-wrapper {
    position: absolute;
    width: 98%;
    animation: scroll 20s linear infinite;
  }
  
  .video-wrapper:hover {
    animation-play-state: paused; /* Pause the animation on hover */
  }
  
  .video-thumbnail {
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    background-size:cover;
    background-position: center;


}
.video-thumbnail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.video-thumbnail video {
  width: 100%;
  height: 100vh;
    object-fit: contain;
}

.play-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
 
}
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  


  .x{
    width: 100%;
    height: 105%;
    object-fit: cover;
  }