.video-column {
    position: relative;
    overflow: hidden;
  }
  
  .video-wrapper {
    position: absolute;
    width: 98%;
    animation: scroll 20s linear infinite;
  }
  
  .video-wrapper:hover {
    animation-play-state: paused; /* Pause the animation on hover */
  }
  
  .video-thumbnail {
    background: black;
    width: 100%;
    height: 40vh; /* Adjust height to fit four videos per column */
    opacity: 0.7; /* Set the video opacity */
    background-size: cover;
    background-position: center;
    margin-bottom: 0; /* Ensure no gap between videos */
    position: relative; /* Ensure positioning context for overlay */
    

}

.video-thumbnail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Slight black overlay */
    z-index: 2;

}

.video-thumbnail video {
    width: 100%;
    height: 100%;
    object-fit: auto;
}

.play-button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: rgba(255, 255, 255, 0.746); /* Ensure the play button is visible */
}
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  