  .image-container {
    height: 400px;
    padding: 0 30px;
  }
  
  .video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .video-container {
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  
