/* SCSS styles for ResponsiveAppBar */

.responsive-appbar-icon-large {
  display: none;


  @media (min-width: 960px) {
    display: flex;
    margin-right: 1rem;
  }
}

.responsive-appbar-title {
  display: none;

  @media (min-width: 960px) {
    display: flex;
    margin-right: 2rem;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
  }
}

.responsive-appbar-nav-icon {
  flex-grow: 1;
  display: flex;

  @media (min-width: 960px) {
    display: none;
  }
}

.responsive-appbar-menu {
  display: block;

  @media (min-width: 960px) {
    // display: none;
  }
}

.responsive-appbar-icon-small {
  display: flex;
  margin-right: 1rem;

  @media (min-width: 960px) {
    display: none;
  }
}

.continer-icon{
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 5px;
}
.responsive-appbar-title-small {
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  color: inherit;
  text-decoration: none;

  @media (min-width: 960px) {
    display: none;
  }
}

.responsive-appbar-links {
  flex-grow: 1;
  display: none;

  @media (min-width: 960px) {
    display: flex;
  }
}

.responsive-appbar-link {
  position: relative;
  display: inline-block;
  margin: 3px;

}

.responsive-appbar-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  // padding-bottom: 5px;


  
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5%;
    bottom: 0;
    left: -100%;
    background: linear-gradient(to right, #001d4a 10%, #e58a81);
    z-index: 0;
    transition: left 0.3s ease;
  }

  &:hover::after {
    left: 0;
  }

  & span {
    position: relative;
    z-index: 1;
  }
}


.responsive-appbar-product-box {
  position: fixed;
  top: 52px; 
  left: 0;
  width: 100%;
  max-height: 0;
  padding: 0 1rem; 
  overflow: hidden; 
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: max-height 0.6s ease-in-out, padding 0.6s ease-in-out, opacity 0.6s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.responsive-appbar-product-box.open {
  animation: rollOpen 0.6s forwards; 
}

.responsive-appbar-product-box.closed {
  animation: rollClose 0.6s forwards; 
}

@keyframes rollOpen {
  from {
    max-height: 0;
    opacity: 0;
    padding: 0 1rem;
  }
  to {
    max-height: 400px;
    opacity: 1;
    padding: 20px 80px;
  }
}

@keyframes rollClose {
  from {
    max-height: 400px;
    opacity: 1;
    padding: 20px 80px;
  }
  to {
    max-height: 0;
    opacity: 0;
    padding: 0 1rem;
  }
}

.type-of-peoducts{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container{
	margin: 0 auto;
	text-align: center;
}
.content{
  margin-top: -20px;
  height: 64px;
}
.heart-rate{
	width: 150px;
	height: 73px;
	position: relative;
	margin: 20px auto;
}
.fade-in{
position: absolute;
width: 100%;
height: 100%;
background-color:white; //#000;
top: 0;
right: 0;
animation: heartRateIn 2.5s linear infinite;
}

.fade-out{
position: absolute;
width: 120%;
height: 100%;
background-color: white;//#000;
top: 0;
right: -120%;
animation: heartRateOut 2.5s linear infinite;
background: white; // rgba(0, 0, 0, 1);
// background: linear-gradient(to right,rgba(0,0,0,1)0%, rgba(0,0,0,1)80%,rgba(0,0,0,0)100%);
}

@keyframes heartRateIn{
	0%{
		width: 100%;
	}
	50%{
		width: 0;
	}
	100%{
		width: 0;
	}
}
@keyframes heartRateOut{
	0%{
		left: -120%;
	}
	30%{
		left: -120%;
	}
	100%{
		left: 0;
	}

}


.MuiPaper-root{
  width: 100%;
}


.css-kc02vp-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  background-color: transparent !important;
}


.background {
  position: absolute;
  top: 0;
  left: -17px;
  bottom: 0;
  height:89vh;
}

.buttonIcon {
  // outline: none;
  // border: none;
  cursor: pointer;
  background: none;
    border: none;
    outline: none;
    box-shadow: none;
  position: absolute;
  top: 13px;
  left: 0;
  width: 40px;
  height: 40px;
  // border-radius: 50%;
  // background: transparent;
 
}

.motionUl {
  padding: 30px;
  position: absolute;
  top: 10px;
  left: -17px;
  width: 100%;
  height:80vh;
  overflow-y: scroll;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  .css-15s59wr {
    // background: transparent !important; 
  }
    
  li::marker{
    color: rgb(236 180 173) !important;
  }






