.risksContainer {
    padding: 2rem;
    background-color: #ffffff; // White background
    color: #001d4a; // Joey Med dark blue
  
    @media (max-width: 600px) {
      padding: 1rem;
    }
  
    .heading {
      text-align: center;
      font-weight: bold;
      color: #001d4a; // Dark blue heading
      margin-bottom: 1.5rem;
    }
  
    .lastUpdated {
      text-align: center;
      color: #777;
      margin-bottom: 2rem;
    }
  
    .divider {
      background-color: #e48a81; 
      margin: 1.5rem 0;
    }
  
    .subHeading {
      font-size: 1.5rem;
      color: #e48a81; 
      display: flex;
      align-items: center;
  
      svg {
        margin-right: 0.5rem;
      }
    }
  
    .section {
      margin-bottom: 2rem;
      line-height: 1.8;
  
      p {
        margin-bottom: 1rem;
      }
    }
  
    .contactInfo {
      text-align: center;
      margin-top: 2rem;
  
      a {
        color: #001d4a;
        text-decoration: underline;
      }
    }
  
    @media (max-width: 768px) {
      .subHeading {
        font-size: 1.3rem;
      }
  
      .section {
        margin-bottom: 1.5rem;
      }
    }
  }
  