.instruction-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 400px;
    position: relative;
    width: 380px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: #fff;
    overflow: hidden;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/images/homePage/man.png');
      background-size: cover;
      background-position: center;
      opacity: 0.6;
      z-index: -1;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2); 
      z-index: -1;
    }
  
    @media (max-width: 768px) {
      max-width: 80%;
      padding: 15px;
    }
  
    @media (max-width: 480px) {
      padding: 10px;
      min-height: 300px;
    }
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #e48a81;
  }
  
  .instructions-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.95); // Semi-transparent dark background
    color: #fff;
    z-index: 10;
    border-radius: 12px;
    margin-top: 20px;
    transition: max-height 0.3s ease;
  
    .instructions-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  