.bigBox {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    // transition: transform 0.3s ease-in-out;
  
    &:hover {
    //   transform: scale(1.1);
    //   border-radius: 3px;
    //   transition: transform 0.3s ease-in-out;
    }
  }
.boxVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;   
    background-color: #f0f0f0;
  }
  
  .video {
    // height: auto;
    border-radius: 2px;
    transition: opacity 0.3s ease-in-out;
  }
  