// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@100;200;300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@100;200;300;400;500;600;700&display=swap');


* {
  // font-family: 'Barlow', sans-serif; /* Apply Barlow font site-wide */
  font-family: 'PT Serif', serif !important;
  // font-family: 'Crimson Text', serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define color variables */
:root {
  --primary-background: #ffffff;      /* Background */
  --primary-color: #001d4a;           /* Text for greeting */
  --primary-icon: #e48a81;            /* Accent color */
  --primary-icon2: #3399ff;           /* One blue word */
  --primary-background2: #eee;        /* General light background */
  --primary-color2: #1F2A40;          /* Dark color */
  --primary-background3: #727681;     /* Muted gray */
  --primary-linear: linear-gradient(silver, white); /* Gradient background */
}

body {
  // font-family: 'Barlow', sans-serif ;
  font-family: 'PT Serif', serif;
  // font-family: 'Crimson Text', serif !important;
  background-color: var(--primary-background); 
  color: var(--primary-color); 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow', sans-serif ;
  // font-family: 'PT Serif', serif ;
  // font-family: 'Crimson Text', serif !important;
  color: var(--primary-color);
}

h1 {
  font-weight: 500 !important;;
  font-size: 3rem !important; /* Responsive size for h1 */
  line-height: 1.1!important; /* Compact line height */
  letter-spacing: 0.02em!important;
  
  @media (max-width: 600px) { /* Mobile adjustments */
    font-size: 2.2rem!important;
  }
}

h2 {
  font-weight: 400 !important;
  font-size: 2.5rem !important;
  line-height: 1.15 !important;
  letter-spacing: 0.02em !important;
  
  @media (max-width: 600px) {
    font-size: 1.7rem!important;
  }
}

h3 {
  font-weight: 300 !important;
  font-size: 2rem!important;
  line-height: 1.2!important;
  letter-spacing: 0.015em!important;

  @media (max-width: 600px) {
    font-size: 1.5rem!important;
  }
}

h4 {
  font-weight: 200!important;
  font-size: 1.5rem!important;
  line-height: 1.25!important;
  letter-spacing: 0.01em!important;
}

h5 {
  font-weight: 100 !important;
  font-size: 1.25rem!important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
}

h6 {
  font-weight: 100 !important;
  font-size: 1.1rem !important;
  line-height: 1.35 !important;
  letter-spacing: 0.01em !important;
}
p {
  font-weight: 100 !important;
  font-size: 1rem !important;
  line-height: 1.35 !important;
  letter-spacing: 0.02em !important;
}


  button,
  a{
    text-decoration: none;
    color: #001d4a !important;
  }


  .element {
    position: relative;
  }
  
  .element::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
  }

  .loader {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.1);
    transform-origin: 50% 50%;
    transform: perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 1.2s infinite;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid #0000;
    animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
      spinner-fade 1.2s linear infinite;
  }
  .loader:before {
    border-top-color: #001d4a;
  }
  .loader:after {
    border-top-color: #e48a81;
    animation-delay: 0.4s;
  }

  img, 
  video {
    display: block; 
    margin: 0;      
    padding: 0;     
    border: none;   
  }
  
  @keyframes spinner-spin {
    100% { transform: rotate(360deg)}
  }
  @keyframes spinner-fade {
    25%, 75% { opacity: 0.1}
    50% { opacity: 1 }
  }
      

  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    /* background: #001d4a9e; */
    background: silver;

    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-thumb {
    background:  #001d4a9e;
    /* #edb3ad; */
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    /* background: silver; */
    /* // #fff3; */
  }
  @media (min-width: 1536px) {
    .css-19r6kue-MuiContainer-root {
        max-width: 1637px !important;
    }
}
@media (max-width: 900px) and (min-width: 600px) {
  .card {
    max-width: 350px !important;
  }
}