.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
  
    .slider-track {
      max-width: fit-content;
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  
    .slider-card {
      min-width: 30%;
      box-sizing: border-box;
      padding: 0 1rem;
    }
  
    .card-paper {
        min-width: 30%;
        padding: 2rem;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        min-height: 400px;
    }
  
    .card-image {
      width: 100%;
      height: auto;
    }
  
    .slider-controls {
      position: absolute;
      bottom: 3%;
      right: -5%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
  
      .progress-bar {
        width: 100px;
        height: 5px;
        background-color: #e0e0e0;
        border-radius: 3px;
        overflow: hidden;
        margin-right: 2rem;
  
        .progress {
          height: 100%;
          background-color:#e48a81;
          transition: width 0.5s ease-in-out;
        }
      }
  
      .nav-button {
        background-color: #f1f1f1;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: 1rem;
  
        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
  