.slider-container {
  position: relative;
  overflow: hidden;
  height: 500px;

circle {
  stroke-dashoffset: 0;
  stroke-width: 7%;
  fill: none;
  stroke: #001d4a  !important; 
  // stroke: linear-gradient(to right, #001d4a 10%, #e58a81) !important;
}
.bg {
  stroke: #fafafa;
  opacity: 0.3;
}
.scrollList {
  display: flex;
  // list-style: none;
  padding: 0;
  height:430px;
  overflow-x: scroll;
  justify-content: start;
  gap: 30px;
}
.scrollList li:last-of-type {
  margin: 0;
}
}

